<%- include('partials/header') %>

<div class="login-box-home">
  <h1>Iris Flower Type Prediction and Classification</h1>
  <a style="width: 50%;" class="btn" href="/submit" role="button">Predict</a>
  <h6 style="margin-top: 50px; text-align: center;">Copyright © 2022</h6>
</div>    
</div>
</body>
</html> 




