<%- include('partials/header') %>

<div class="login-box">
  <h1>Parameters</h1>

  <form action="/submit" method="POST">
  <div class="textbox">
    <i class="fa-brands fa-pagelines"></i>
    <input type="number" step="any" min="0" max="100" placeholder="Enter Sepal Length" name="sepal_length">
  </div>
  <div class="textbox">
    <i class="fa-brands fa-pagelines"></i>
    <input type="number" step="any" min="0" max="100" placeholder="Enter Sepal Width" name="sepal_width">
  </div>
  <div class="textbox">
    <i class="fa-brands fa-pagelines"></i>
    <input type="number" step="any" min="0" max="100" placeholder="Enter Petal Length" name="petal_length">
  </div>
  <div class="textbox">
    <i class="fa-brands fa-pagelines"></i>
    <input type="number" step="any" min="0" max="100" placeholder="Enter Petal Width" name="petal_width">
  </div>
  <button type="submit" class="btn">Predict</button></form>
  <h6 style="margin-top: 50px; text-align: center;">Copyright © 2022.</h6> 
</div> 